.env
.*
node_modules
# Ignore all files in the dist folder
dist
# Ignore all files in the coverage folder
coverage
# Ignore all files in the build folder
build
# Ignore all files in the temp folder
temp
# Ignore all files in the logs folder
logs
# Ignore all files in the temp folder
cache

uploads/*
src/modules/*